<div id="welcomeText">
  <p class="nextMeeting">Next Meeting : Monday, 9th April : A demonstration by Graham King, from Surrey</p>
  <p>Rainham Flower Club has returned to Rainham! The venue for our meetings, and the meeting day will change as from January 2016. We shall meet on the second day of each month, at 7:30pm, at St. Matthew's Church Hall, Drewery Drive, Wigmore, ME18 0NX.<p>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6">
  <ul id="linkList">
    <li><a href="/about">more information</a></li>
    <li><a href="">blog</a></li>
    <li><a href="">events</a></li>
    <li><a href="">gallery</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">links</a></li>
  </ul>
  </div>
</div>