<div id="about">
  <h2>About Rainham Flower Club</h2>

  <p>
    All change for 2016!
  </p>

  <p>
    The club will meet on the second Monday of every month at St Matthew’s Church Hall, Wigmore, at 7.30pm. Our programme includes demonstrations, as well as workshops where members can experiment, learn, and hone their skills with many different types of arrangement.
  </p>

  <p>
    <ul>
      <li>Annual membership is £30, over 60s, £25.</li>
      <li>Members pay £3 at each demonstration.</li>
      <li>Guests pay £8 for a demonstration, and £5 for a workshop.</li>
    </ul>
  </p>

  <p>
    The club was founded back in the 1960s, and has enjoyed many successes in shows over the years, including gold medals at Chelsea Flower Show. Currently we have many members active in show work, with much success. We are a friendly and inclusive club, and extend a warm welcome to all who love flowers.
  </p>
</div>