@import "partials/colors";

#main {
  background-image: url("mainpagephoto.jpg");
  background-size: cover;
}

#content {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #231f20;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 14px;
  border-radius: 10px;
  margin: 25px auto;
}

.nextMeeting {
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid;
  font-family: "Open Sans", sans-serif;
}

#linkList {
  text-align: center;
  list-style: none;
  font-family: 'Dancing Script', sans-serif;
  font-size: 30px;
  li {
    line-height: 41px;
    a:link, a:visited {
      color: $darkPurple;
    }
  }
}

footer {
  background-color: $darkGrey;
  text-align: center;
  padding: 10px;
  h4, p {
    text-align: center;
    color: $palePink;
    font-family: "Roboto", sans-serif;
  }
  iframe {
    height: 300px;
    width:350px;
  }
}