// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/colors";

nav {
  color: $palePink;
  background-color: $darkGrey;
  height: 75px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 56px;
  line-height: 75px;
}